@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css');
@import 'tailwindcss';

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply lg:w-[1440px] lg:mx-auto flex flex-col items-center;
}

#root {
  @apply w-full max-w-screen-2xl;
}

@theme {
  --color-brand: #f96162;
  /* bg-banner */
  --background-image-banner: url('/images/banner.webp');
  --background-image-korea: url('/images/korea.gif');
  --font-pretendard: 'Pretendard', sans-serif;
}

input {
  @apply p-4 outline-none border-gray-300 my-1;
}
